.dashboardGrid {
  display: grid;
  width: 100%;           /* Fills the parent container */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "location location"
    "location location"
    "tools tools"
    "favorite music"
    "contact music"
    "contact scratch"
    "coffees github"
    "hours github";
}
.dashboardGrid > li {
  min-width: 0; /* Allow grid items to shrink */
}
@media (min-width: 700px) {
  .dashboardGrid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto minmax(0, min-content) minmax(0, min-content);
    grid-template-areas:
      "location location location location scratch scratch github github coffees coffees"
      "location location location location scratch scratch github github hours hours"
      "music music music music music favorite favorite favorite contact contact"
      "tools tools tools tools tools tools tools tools contact contact";
  }
}     